header {
    display: flex;
    background-color: blue;
    color: white;
    justify-content: center;
    height: 3rem;
    font-weight: bolder;
    align-items: center;
}

/* style for 5 day cards */
.weather {
    height: 20rem;
    background-color: rgb(44, 106, 250);
    color: white;
    font-size: small;
}

ul {
    list-style-type: none;
}
